{{ define "main" }}
<div id="content">
  <section id="hero-animated" class="hero-animated d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <img src="assets/img/football-player-action-logo_293731-76.png" class="img-fluid animated">
      <h2>Welcome to <span>Bhuikhel Youth Club</span></h2>
      <p></p>
      <div class="d-flex">
        <a href="/tournament/" class="btn-get-started scrollto">About Tournament</a>
        <a href="https://www.youtube.com/watch?v=thYuSdMjKxQ&ab_channel=7mlc" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Training video collection</span></a>
      </div>
    </div>
  </section>

  {{partial "contact.html" .}}

  
  
</div>

<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>
{{ end }}